    <div class="grid">
        <div class="col-12 lg:col-6 xl:col-12">
            <h5>SELECT PROJECT FOR ANALYTICS</h5>
            <p-dropdown [options]="projects" [(ngModel)]="projects" placeholder="Select a Project" optionLabel="title"  (ngModelChange)="onProjectChange($event)" [filter]="true" filterBy="title" [showClear]="false"></p-dropdown>
        </div>
        
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">ALL TASKS</span>
                        <div class="text-900 font-medium text-xl">{{allTasks}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-clone text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{tasksAddedSinceLastWeek}}</span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">ASSIGNEES</span>
                        <div class="text-900 font-medium text-xl">{{assignees}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-user text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{assigneesSinceLastWeek}} </span>
                <span class="text-500">since last week</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">PENDING TASKS</span>
                        <div class="text-900 font-medium text-xl">{{pending}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-question text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{newlyCreatedButPending}}  </span>
                <span class="text-500">newly created</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">COMPLETED TASKS</span>
                        <div class="text-900 font-medium text-xl">{{completed}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-check text-purple-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{newlyCompletedLastSevenDays}} </span>
                <span class="text-500">New</span>
            </div>
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Recent Tasks</h5>
                <p-table #dt [value]="recentTasks" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="title">Task <p-sortIcon field="title"></p-sortIcon></th>
                            <th pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon></th>
                            <th pSortableColumn="description">Description<p-sortIcon field="description"></p-sortIcon></th>
                            <!-- <th pSortableColumn="createdAt">Date <p-sortIcon field="createdAt"></p-sortIcon></th> -->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-task>
                        <tr>
                            <td style="width:15%; min-width:10rem;">
                                <span class="p-column-title">Task</span>
                                {{task.title}}
                            </td>
                            <td style="width:15%; min-width:10rem;">
                                <span class="p-column-title">Priority</span>
                                {{task.priority}}
                            </td>
                            <td style="width:15%; min-width:10rem;">
                                <span class="p-column-title">Description</span>
                                {{task.description}}
                            </td>
                            <!-- <td style="width:15%; min-width:10rem;">
                                <span class="p-column-title">Date</span>
                                {{task.createdAt}}
                            </td> -->
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            
        </div>

        <div class="col-12 xl:col-6">
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Todays Tasks with Priority</h5>
                    <div>
                        <p-menu #menu [popup]="true" [model]="todayTasksWithPriority"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li *ngFor="let task of todayTasksWithPriority" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                      <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ task[0] }}</span>
                      </div>
                      <div class="mt-2 md:mt-0 flex align-items-center">
                        <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{ height: '8px' }">
                          <div [ngStyle]="{ width: getProgressBarWidth(task[1]) }"></div>
                        </div>
                        <span [ngStyle]="{ color: getTextColor(task[1]) }" class="ml-3 font-medium">{{ getPercentage(task[1]) }}</span>
                      </div>
                    </li>
                  </ul>
            </div>
    </div>
</div>

