<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <p-dropdown [options]="projects" [(ngModel)]="selectedProject" placeholder="Select a Project" optionLabel="title" (ngModelChange)="onProjectChange($event)" [filter]="true" filterBy="title" [showClear]="false"></p-dropdown>
                    </div>
                </ng-template>

                <ng-template pTemplate="right" style="justify-content: space-between;">
                    <span style="margin-right: 20px;" >
                        <button pButton pRipple label="New Task" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                    </span>
                    <button pButton pRipple label="Export to CSV" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tasks" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['title','description','priority','dueDate','assignedUser']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedtasks" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Tasks</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="title">Task <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon></th>
                        <th pSortableColumn="dueDate">Due Date <p-sortIcon field="dueDate"></p-sortIcon></th>
                        <th pSortableColumn="assignedUser">Assigned User <p-sortIcon field="assignedUser"></p-sortIcon> </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-task let-rowIndex="rowIndex">
                    <tr>
                        <td>
                            {{rowIndex + 1 }}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title"> Task</span>
                            {{task.title}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{task.description}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Priority</span>
                            {{task.priority}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Due Date</span>
                            {{task.dueDate}}
                        </td>
                        <td style="width:15%; min-width:10rem;">
                            <span class="p-column-title">Assigned User</span>
                            {{task.assignedUser.fname}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTask(task)"></button>

                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-success mr-2" (click)="deleteTask(task)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="taskDialog" [style]="{width: '450px'}" header="Task Registration" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">

                <div class="field">
                    <label for="title">Task</label>
                    <input type="text" pInputText id="title" [(ngModel)]="task.title" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !task.title}"/>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="task.description" required rows="3" cols="20" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !task.title}"></textarea>
                </div>
                
                <div class="field">
                    <label for="name">Stage</label>
                    <p-dropdown [options]="projects" placeholder="Select a Project" optionLabel="title" (ngModelChange)="onProjectChange($event)" [filter]="true" filterBy="title" [virtualScroll]="true"  [showClear]="false"></p-dropdown>
				</div>
                <div class="formgrid grid" style="margin-top: 40px;">
                    <div class="field col">
                        <label for="clientId">Due Date</label>
                        <p-calendar [(ngModel)]="date" [minDate]="minDate"  placeholder="Select a Date"></p-calendar> 
                    </div>
                    <div class="field col">
                        <label for="priority">Priority</label>
                        <p-dropdown [options]="priority" placeholder="Select a priority" optionLabel="label" [(ngModel)]="task.priority" (ngModelChange)="onProjectChange($event)" [virtualScroll]="true" [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="hideDialog()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>