<div class="board">
    <!-- <form id="todo-form">
      <input type="text" placeholder="New TODO..." id="todo-input" />
      <button type="submit">Add +</button>
    </form> -->

    <div class="proj">
        <p-dropdown [options]="projects" [(ngModel)]="selectedProject" placeholder="Select a Project" optionLabel="title" (ngModelChange)="onProjectChange($event)" [filter]="true" filterBy="title" [showClear]="false"></p-dropdown>
    </div>

    <div class="lanes">
      <div class="swim-lane" id="todo-lane" *ngFor="let stage of stages">
        <h3 class="heading" >{{stage.name}}</h3>
        <p class="task" draggable="true" *ngFor="let task of stage.tasks">{{task.title}}</p>
      </div>
    </div>
  </div>