<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
    style="background-image: url('assets/demo/images/blocks/hero/background.jpg'); background-size: cover; background-position: center; position: relative;">
    <!-- <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5);"></div> -->
    <div class="flex flex-column align-items-center justify-content-center">
        <p-toast></p-toast>
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-6 px-5 sm:px-5" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-m font-medium mb-3">Sign Up to TaskPro!</div>
                </div>
                <div>
                    <label class="block text-900 text-m font-small mb-1">FIRST NAME</label>
                    <input id="fname" type="text" [(ngModel)]="fname" placeholder="First Name" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !fname}" />
                    <label class="block text-900 text-m font-small mb-1">MIDDLE NAME</label>
                    <input id="mname" type="text" [(ngModel)]="mname" placeholder="Middle Name" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !mname}" />

                    <label class="block text-900 text-m font-small mb-1">LAST NAME</label>
                    <input id="lname" type="text" [(ngModel)]="lname" placeholder="Last Name" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !lname}" />
                    <label class="block text-900 text-m font-small mb-2">EMAIL</label>
                    <input id="email1" type="text" [(ngModel)]="email" placeholder="Email" pInputText
                        class="w-full md:w-30rem mb-5" style="padding:1rem" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !email}" />

                    <label class="block text-900 font-small text-m mb-1">PASSWORD</label>
                    <p-password id="password1" [(ngModel)]="password" placeholder="Password" [toggleMask]="true"
                        required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !password}"
                        styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-1 gap-5">
                        <div class="flex align-items-center">
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)" [routerLink]="['']">Login?</a>
                        </div>
                        <div *ngIf="showSpinner" class="spinner-overlay">
                            <div class="spinner"></div>
                            <div class="spinner-text">Processing...</div>
                        </div>
                    </div>
                    <button (click)="onSignupSubmit()" [disabled]="disableButton" pButton pRipple label="Sign Up"
                        class="w-full p-3 text-xl"></button>
                </div>
            </div>
        </div>
    </div>
</div>